.news-item img {
  max-width: 18rem;
  margin-top: 10px;
}

.news-item h2 {
  max-width: 32rem;
  text-align: justify;
  margin: 0 auto;
}

li {
  list-style: none;
}

.desc {
  text-align: justify;
  max-width: 32rem;
  margin: auto;
}

.date {
  margin-top: 5px;
  text-align: right;
  margin-bottom: 0;
}

.source {
  margin: auto;
  text-align: right;
}
.link {
  margin: auto;
  margin-bottom: 5px;
  display: flex;
  justify-content: left;
}
